div.filter {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0.5em;
  margin-right: 1em;
  height: 3em;
  width: 8em;
  display: flex;
  flex-direction: column;
  text-align: center;

  &:hover {
    color: red;
    cursor: pointer;
    border-color: red;
  }
}
